<?xml version="1.0" encoding="UTF-8"?><!--  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="parentClass"  abstract="true"
          class="com.imooc.spring.ioc.class011.ParentClass">
        <property name="atttribute3" value="attribute3"/>
        <property name="atttribute2" value="attribute2"/>
        <property name="atttribute1" value="attribute1"/>


    </bean>
    <bean id="class1" class="com.imooc.spring.ioc.class011.Class1"
    parent="parentClass">
        <property name="atttribute4" value="attribute4"/>
        <property name="atttribute5" value="attribute5"/>
    </bean>
    <bean id="class2" class="com.imooc.spring.ioc.class011.Class2"
    parent="parentClass">
        <property name="atttribute6" value="attribute6"/>
        <property name="atttribute7" value="attribute7"/>
    </bean>



</beans>

