<?xml version="1.0" encoding="UTF-8"?><!--  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd"

       default-init-method="onInit" default-destroy-method="onDestroy"
>

    <!--<bean class="com.imooc.spring.ioc.class011.Bean"  -->
    <!--init-method="onInit" destroy-method="onDestroy"-->
    <!--id="bean"/>-->
    <bean class="com.imooc.spring.ioc.class011.Bean"
          id="bean"/>
    <bean class="com.imooc.spring.ioc.class011.Bean1"
          id="bean1" />


</beans>